@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.overlay {
    text-align: center;
    max-width: 95%;
    margin: auto;
    margin-top: -50%;
    background-color: #8a2b06 !important;
    border-radius: 10px !important;
    padding: 0.5rem;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

/* @media (max-width: 1259px) {
  .overlay {
    margin-top: -15rem;
  }
}

@media (min-width: 1300px) {
  .overlay {
    margin-top: -75rem;
  }
} */

.error-404 {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
@media (max-width: 900px) {
  .error-404 {
    width: 100%;
  }
}


.theme-button {
  font: inherit;
  cursor: pointer;
  /* background-color: transparent; */
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  float: right;
  color: white;
  background-color: #5a1a01;
  margin-right: 5px;
}

.theme-button:hover,
.theme-button:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.46);
  border-color: #5a1a01;
  color: white;
}

.tele-decoration-none {
  text-decoration: none;
}
.m-r-1 {
  margin-right: 1rem;
}

.m-r-1-h {
  margin-right: 0.5rem;
}

.hidden-overflow {
  overflow: hidden;
}

.text-white {
  color: #fff;
}

.search-body {
  background-color: #fff;
  justify-content: flex-start;
  font-size: 14px;
  & label {
    margin-right: 5px;
  }
}
.space-both {
  padding: 0 1rem;
}